<div class="container">
    <div class="row">
        <div class="header">
            <h1 class="title">Linusu Tech Shop</h1>
            <p class="desc">Welcome to the best tech shop in town! You can buy any PC part you want as long as you have
                money. But remember kids, don't drop your PC component!
                world!</p>
        </div>
        <div class="middle">
            <button class="btn-playlist" mat-raised-button color="primary" (click)="addPlaylist()">
                <span class="material-icons">
                    add_shopping_cart
                </span>
                Add New Order
            </button>
            <div class="play-list">
                <div class="card" *ngFor="let data of dataStore; let i = index">
                    <div class="card-header">
                        <p class="playlist-name">${{data.totalPrice}}</p>
                        <p class="total-song-playlist">By {{data.customerName}} · {{data.email}}</p>
                        <br>
                        <p>{{data.description}}</p>
                    </div>
                    <div class="card-middle">
                        <div *ngFor="let music of data.items">
                            <div class="item-list">
                                <div class="icon-music">
                                    <span class="material-icons">
                                        sell
                                    </span>
                                </div>
                                <div>
                                    <p>{{music.category}}</p>
                                    <p>{{music.name}} · {{music.price}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="action-playlist">
                        <button (click)="removePlaylist(data)" mat-button color="warn">DELETE</button>
                        <button (click)="openUpdate(data)" mat-button color="none">EDIT</button>
                    </div>
                </div>
                <!-- <div class="card" ngFor="let data of dataPlaylist; let i = index">
                    <div class="card-header">
                        <p class="playlist-name">{{data.name.</p>
                        <p class="total-song-playlist">total {{data.songs.length. songs, {{countDurations(data.songs). minutes</p>
                        <br>
                        <p>{{data.description.</p>
                    </div>
                    <div class="card-middle">
                        <div ngFor="let music of data.songs">
                            <div class="item-list">
                                <div class="icon-music">
                                    <span class="material-icons">
                                        music_note
                                    </span>
                                </div>
                                <div>
                                    <p>{{music.songTitle.</p>
                                    <p>{{music.artist. · {{music.duration} minutes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="action-playlist">
                        <button (click)="removePlaylist(data)" mat-button color="warn">DELETE</button>
                        <button (click)="openUpdate(data, i)" mat-button color="none">EDIT</button>
                    </div>
                </div> -->

            </div>
        </div>

    </div>
</div>